<div class="col-md-4 col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                Welcome to Alternah8
            </h4>
        </div>
        <div class="panel-body">
            Alternah8 is a new site dedicated to finding alternatives to companies with low HRC scores.
        </div>
    </div>
</div>