<h1>Listing companies</h1>
<% @groups.each do |group| %>
  <div class="col-md-4">
    <% group.each do |company| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= company.name %>
        </div>
        <div class="panel-body">
          <%= company.description %>
        </div>
        <div class="panel-footer">
          HRC Score: <%= company.hrc_score %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>